html{
    body{
        background-color: black;
        .splash{
            height: 0;
        }

        .menu{
            display: none;
            &.active{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
